<!DOCTYPE html>
<!-- lang가 en일 경우 우리에게 한글과 영어 번역에 대한 안내 창이 나오는데, 만약 ko로 되어있을 경우에는 우리에겐 안내번역이 나오지 않는다.
그러니 한국 서버로 만들 땐 반드시 변경을 권장한다. -->
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    여기는 루트입니다.
  </body>
</html>
